@import '../../App.css';

.about-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity:0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
    
    .title-mobile{
        display: none;
    }
    .img_parent{
        background-image: url('../../images/zigzag.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 500px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 60px;

        .mina-pic{
            width: 300px;
            height: 300px;
            border-radius: 150px;
            z-index: 1;
        }

    }
    
    .about-text-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .title{
            margin-bottom: 0px;
        }
        .about-text{
            max-width: 480px;
            text-align: center;
        }
    }
}

.about-container.is-visible{
    opacity: 1;
    transform: none;
    visibility: visible;
}

@media screen and (max-width: 1024px){
    .about-container{
        height: 80vh;
        margin: 0 28px;
        
        img{
            width: 300px;
            height: 300px;
            border-radius: 150px;
            margin-right: 60px;
        }
        .about-text-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            h1{
                margin-bottom: 0px;
            }
            .about-text{
                max-width: 480px;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .about-container{
        flex-direction: column;  
        padding: 100px 0;    
        margin: 0;  
        height: 100%;

        .img_parent{
            background-image: url('../../images/zigzag.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 400px;
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 0;
    
            .mina-pic{
                width: 250px;
                height: 250px;
                border-radius: 150px;
                z-index: 1;
                margin: 0;
            }
    
        }
        .title-mobile{
            display:flex;
        }
        .about-text-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .title{
                display: none;
            }
        }
    }
}
