@import '../../App.css';

.btn{
    padding: 8px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary{
    background-color: var(--main-color);
    color: #f3f3f3;
    border: 1px transparent #f3f3f300;
}


/* .btn--outline{
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
} */

.btn--med{
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large{
    padding: 12px 20px;
    font-size: 20px;
}

/* .btn--med:hover, .btn--large:hover{
    background: var(--primary);
    color: #242424;
    transition: all 0.3s ease-out;
} */