@import '../../App.css';

.project-preview{
    display: flex;
    flex-direction: column;
    background-color: var(--light-color);
    width: 324px;
    margin: 0 8px;
    border-radius: 16px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.148);
    overflow: hidden;
    position: relative;

    .overlay{
        position: absolute;
        top:0;
        left:0;
        background-color: rgb(244,243,232,0.35);
        width: 100%;
        height: 100%;
        z-index: 2;
        cursor: pointer;
        transition: background-color 0.5s ease-in-out;

    }
    .overlay:hover{
        background-color: rgb(244,243,232,0);
    }

    .project-title{
        text-align: center;
    }
    .project-img{
        height: 220px;
    }
}