@import '../../App.css';

.skill-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text-color);
    border-radius: 50px;
    padding: 5px 20px;
    margin-right: 12px;
    margin-bottom: 12px;

    p{
        margin:0;
        font-size: 14px;
    }
}

.skill-button:hover{
    background-color: rgb(212, 80, 3);
    transition: all 0.3s ease-out;

    p{
        color: #eea1e7;
    }
}