@import '../../App.css';

.skill-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text-color);
    border-radius: 50px;
    padding: 5px 20px;
    margin-right: 12px;
    margin-bottom: 12px;
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;

    p{
        margin:0;
        font-size: 14px;
    }
}

.skill-button.is-visible{
    opacity: 1;
    transform: none;
    visibility: visible;
}

.skill-button:hover{
    background-color: var(--hover-color);
    transition: all 0.3s ease-out;

    p{
        color: var(--text-color);
    }
}