@import "../../App.css";


.home{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    /* overflow:hidden; */

}


h1, h3{
    color: var(--text-color);
    font-family: var(--header-font);
    margin-top: 10px;
}

h3{
    font-size: 20px;
}
