@import "../../App.css";


.home-container{
    // background-image: url("../../images/navbar_img.JPG");
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow:hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 

}

.home{
    overflow: none;
}
.body::-webkit-scrollbar {
    display: none;
}

h1, h3{
    color: var(--text-color);
    font-family: var(--header-font);
    margin-top: 10px;
}

h3{
    font-size: 20px;
}
