@import '../../App.css';

.projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;

    h1{
        text-decoration: underline dashed var(--hover-color);
        text-underline-position: under;
        -webkit-text-decoration: var(--hover-color) underline dashed;
        -webkit-text-underline-position: under;
        margin-bottom: 36px;
    }

    .project-links{
        text-decoration: none;
    }
    .projects-grid{
        display: flex;
        flex-direction: column;
    }
}

.projects-container.is-visible{
    opacity: 1;
    transform: none;
    visibility: visible;
}