@import "../../App.css";


.footer-container{
    display: flex;
    flex-direction: row;
    background-color: var(--main-color);
    width: 100%;
    max-width: 1500px;
    height: 80px;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    z-index: 999;

    h3{
        color: var(--text-color);
        margin:0;
        font-size: 20px;
    }

    .name-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 40px;
        
        p{
            font-size: 11px;
        }
    }

    .links-container{
        display: flex;
        flex-direction: column;

        .link{
            color: var(--text-color);
        
        }
    }
}

