@import "../../App.css";


.footer-container{
    display: flex;
    grid-area: footer;
    background-color: var(--main-color);
    max-width: 1920px;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    z-index: 999;

    h3{
        color: var(--text-color);
        margin:0;
        font-size: 20px;
    }
    .footer{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .copyright-mobile{
        display: none;
    }
    .name-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .logo{
            width:80px;
        }

        .btn{
            padding: 0;
        }
        
        p{
            font-size: 11px;
            margin-bottom: 10px;
        }
    }

    .links-container{
        display: flex;
        flex-direction: row;

        .link:hover{
            background-color: var(--hover-color);
            border-radius: 10px;
            height: 24px;
        }

        .link{
            margin-right: 30px;
        
            img{
                width: 24px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .footer-container{
        padding: 0 60px;

        .links-container{
            .link:last-child{
                margin-right: 0;
            }
        }
    }
    
}

@media screen and (max-width: 768px) {
    .footer-container{
        padding: 0 20px;
        height: 160px;
        align-items: center;
        flex-direction: column;

        .footer{
            flex-direction: row;
        }

        .copyright-mobile{
            display: flex;
        }
        .name-container{
            .copyright{
                display: none;
            }
        }

        .links-container{
            .link:last-child{
                margin-right: 0;
            }
        }
    }
}
