@import "../../App.css";


.footer-container{
    display: flex;
    grid-area: footer;
    background-color: var(--main-color);
    max-width: 1920px;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    z-index: 999;

    h3{
        color: var(--text-color);
        margin:0;
        font-size: 20px;
    }

    .name-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: absolute;
        left: 80px;

        .logo{
            width:80px;
        }
        
        p{
            font-size: 11px;
            margin-bottom: 10px;
        }
    }

    .links-container{
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 80px;

        .link:hover{
            background-color: var(--hover-color);
            border-radius: 10px;
            height: 24px;
        }

        .link{
            margin-right: 30px;
        
            img{
                width: 24px;
            }
        }
    }
}

