@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Carrois+Gothic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color:#adbfab;
    --text-color: #000000;
    --header-font: 'Montserrat', sans-serif;
    --hover-color: #ebfb72;
    --accent-color: #353535;
    --light-color: #f4f3e8;
}


.app-container{
    background-color: var(--main-color);
}

html,body{
    height: 100%;
}

h1,h2,h3, p{
     color: var(--text-color);
     font-weight: 450;
     font-family: var(--header-font);
}

h1{
    font-size: 50px;
    font-weight: 500;
}

p{
    font-size: 18px;
}
