@import '../../App.css';


.work{
    display: flex;
    flex-direction: column;
    opacity:0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;

    .header.hidden{
        display: none;
    }

    .experience-title{
        display: flex;
        position: relative;
        right: 120px;

        .title{
            margin-top: 0;
        }

        .date{
            color: #BFBEBE;
            margin:0 10px 0 0;
        }
        .title-location-container{
            display: flex;
            flex-direction: column;

            .title-container-mobile{
                display: flex;

                .date-mobile{
                    display: none;
                    color: #BFBEBE;
                }
            }

            .location{
                margin: 5px 0 0 0;
                color: #BFBEBE;
            }
        }
    }

    .experience-description{
        display: flex;
        flex-direction: column;
        max-width: 678px;

        li{
            color: var(--text-color);
        }
    }
}

.work.is-visible{
    opacity: 1;
    transform: none;
    visibility: visible;
}

@media screen and (max-width: 1024px){
    .work{ 
        .experience-title{
            right: 0;
    
            .title{
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .work{
    
        .header.hidden{
            display: none;
        }
    
        .experience-title{
            align-items: flex-start;
            .title{
                margin-top: 0;
            }
    
            .date{
                display: none;
            }
            .title-location-container{
                flex-direction: column;
                width: 100%;

                .title-container-mobile{
                    display: flex;
                    justify-content: space-between;

                    .date-mobile{
                        display: flex;
                        margin: 0;
                        font-size: 14px;
                        text-wrap: nowrap;
                    }
                }
                .location{
                    margin: 5px 0 0 0;
                    color: #BFBEBE;
                }
            }
        }
    
        .experience-description{
            ul{
                padding-inline-start: 20px;
            }
    
        }
    }
}
